{% extends "index.html" %}
{% block content%}
  <h3>Add new todo</h3>
  <form class="todo_form" action="" method="post">
    <input type="text" name="title" maxlength="50" value="{{ todo.name if todo }}">
    <input type="date" name="due_date" placeholder="dd-mm-YYYY"
    value="{{ (todo.due_date.strftime(date_format) if todo.due_date) if todo }}">
    <input type="submit" name="save" value="Save" class="button centered">
  </form>
    <a href="{{url_for('show_all')}}" class='back'> < Back</a>
{% endblock%}
